/* Cartão */

* {
    box-sizing: border-box;
}

.card{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.3s;
}

.cardnome{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
}

.card h5,h6{
    color: #EEE;
}

.card p{
    color: #E8E8E8;
}

.card-evento-formativo{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(138,23,26,0.9);
}

.card-interd{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(203,110,181,0.9);
}
.card-musica{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(55,181,107,0.9);
}

.card-cenicas{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(38,68,96,0.9);
}

.card-visuais{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(211,66,22,0.9);
}

.card-danca{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(245,170,16,0.9);
}

.card-midia{
    position: relative;
    padding: 40px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(69,184,202,0.9);
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.cardimg {
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.btn-site {
    background-color: #a43b3a;
    color: #edd !important;
}

